@use "sass:math";
// Соединение миксов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "abhaya";
$fontSize: rem(18); // тоже 14(px) - Размер шрифта по умолчанию из макета

// Основнйо цвет
$mainColor: #f2f2f2; // Цвет шрифта по умолчанию
$color-white: #fff;

// Адаптировать адаптивную сетку ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 360;
// Ширина холста (макет)
$maxWidth: 1440;
// Ширина контейнера ограничения (0 = Нет ограничений)
$maxWidthContainer: 1164;
// Общее отступление из контейнера
// (30 = по 15px Лево и право, 0 = Нет отступления)
$containerPadding: 30;
// ширина первого Breikpoint
$containerWidth: $maxWidthContainer + $containerPadding;

//Перерыв
$pc: em($containerWidth); // ПК, ноутбуки, некоторые таблетки в горизонтальном положении
$tablet: em(991.98); // Таблетки, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Адаптируемый тип:
// 1 = отзывчивость (контейнер не имеет точек останова),
// 2 = по точке разрыва (контейнер меняет ширину на точку разрыва)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

//Reset
@import "base/null"; 

//Fonts  закинуть в папку fonts файлы ttf otf 
@import 'fonts/fonts';  


// GLOBAL ============================================================================================================================================================================================================================================================================================================================================================================================
// сайт загружен!
html {
	&.loaded {
		.payment__body{
			transform:  scale(1);
			transition: all 1s;
		}
		.payment__image {
			transform: translateX(0);
			transition: all 1s 1.5s;
		}
		.header__body {
			transform: translateY(0);
			transition: transform 1s linear .5s;
		}
	}
}
body {
	// свиток заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Мы нажимаем нижний колонтитул
	> main {
		flex: 1 1 auto;
	}
	// Исправлена ​​ползунки
	> * {
		min-width: 0;
	}
}
//  контейнер ======================================================================================================================================================================================================================
/*
(i) Стили будут применены к
все классы, содержащие *__container
К примеру header__container, main__container и т.п.
Фрагмент (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Контрольные точки
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Соединение основных стилей, шаблонов (заготовки) и вспомогательных классов
// для подключения/отключения конкретных стилей см. Base.scss
@import "base";

// Соединение стилей отдельных блоков
@import "header";
@import "footer";

// Соединение стилей отдельных страниц
@import "home";

// Media
@import "media";